{% load i18n %}
<div class="wrapper-comp-settings is-active editor-with-buttons" id="masterclass-settings-tab">
                    <ul class="list-input settings-list">
                        {% for field, value, validator in fields %}
                        <li class="field comp-setting-entry is-set">
                            <div class="wrapper-comp-setting">
                                <label class="label setting-label"
                                       for="{{ field.name }}_input">{{ field.display_name }}</label>
                                <input class="input setting-input" type="text"
                                       id="{{ field.name }}_input" name="{{ field.name }}"
                                       value="{{ value }}" data-validator="{{ validator }}"/>
                            </div>
                            <span class="tip setting-help">{{ field.help }}</span>
                        </li>
                        {% endfor %}
                    </ul>
        <div class="xblock-actions">
            <ul>
                <li class="action-item">
                    <a href="#" class="button action-primary action-save">Save</a>
                </li>

                <li class="action-item">
                    <a href="#" class="button action-cancel">Cancel</a>
                </li>
            </ul>
        </div>
</div>